nav{
    display: flex;
   justify-content: space-between;
   margin: 30px 150px 120px 150px;
}
.cart {
    display: flex;
}
.cart img{
    height: 24px;
    width: 24px;
}
.item-nav{
display: flex;
gap: 48px;

}
.black-color{
    color: #000000;
}
.red-color{
    color: #E95A08;
}
.bannar{
    display: flex;
}
.margin{
margin: 120px 150px;

}
section > div > h1{
font-size: 65px;
}
.Plants-section-title{
    text-align: center;
}
.container{
display: grid;
grid-template-columns: repeat(4, 1fr);
text-align: center;

}
.button{
   background-color: #E95A08;
   color: #FFFFFF; 
   width: 270px;
   height: 50px;
   font-size: 16px;
   padding: 19px 53.5px;
}
.flowers{
    margin-bottom: 30px;
}
.Plants-Lover-Section-container{
    display: flex;
    
}
.Plants-Lover{
padding-left: 60px;
padding-top: 38px;
padding-bottom: 38px;
}
.info-list li {
        font-size: 22px;
        margin-bottom: 20px; 
    }
    .Join-Section{
        text-align: center;
        background-image: url('../assets/news-letter-bg.png');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 300px;

    }
    .Join-Section-h1{
        color: #FFFFFF;
        font-size: 50px;
    font-weight: bold;
    }
    .Subscribe-email{
display: flex;

    }
    .email{
        padding: 15.5px 540px 15.5px 20px;
      font-size: 13px;
        color: #000000;
    }
    /* Footer Styles */
footer {
     background-color: #F8F9FA;
    padding: 50px 160px; }

.main-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 110px; 
}



.footer-info {
    max-width: 300px; 
    min-width: 250px;
     padding-bottom: 56px;
}
.footer-info p {
    color: #8987A1;
    font-size: 16px;
    line-height: 1.6;
}
.footer-list {width: 128px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
  margin-bottom: 32px;  
}
.footer-list a {
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}
.social-icons {
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: center;
}
